// Colors
$text: #000000;
$text-muted: #9ca0ac;
$accent: #0066ff;
$accent-hover: #1f78ff;
$focus: #682ee6;
$border: #d6dae4;
$bg-light: #eef1f7;
$bg-dark: #111827;
$bg-accent: #f9ed32;
$bg-hover: #f4f6fA;
$bg-badge: #e6ebff;
$bg-gradient: linear-gradient(180deg, rgba(214, 218, 228, 0) 0%, rgba(214, 218, 228, 0.2) 100%);

// Breakpoints
$brp-xs: 375px;
$brp-sm: 576px;
$brp-md: 768px;
$brp-lg: 992px;
$brp-xl: 1200px;

// Fonts
$font-size: 16px; 
