.social-proof {
  padding-bottom: 75px;

  &__video {
    width: 100%; 
    background-color: $bg-dark;
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 75px;

    &-content {
      margin-bottom: 30px;
    }
    
    &-title {
      color: #fff;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 1.125rem;
      color: #fff;
      margin-bottom: 15px;
    }

    &-name {
      display: block;
      font-size: 1.125rem;
      font-style: normal;
      color: #fff;
      margin-bottom: 20px;
    }

    &-logo {
      display: block;
      width: 76px;
      height: 46px;
    }

    &-player {
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      background-color: $bg-light;

      img {
        display: block;
        width: 100%;
        object-fit: contain;
      }
    }

    &-play-button {
      width: 27px;
      height: 28px;
      background-color: transparent;
      background-image: url('../img/social-proof/play-icon.svg');
      border: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
      cursor: pointer;
    }
  }

  &__reviews {

    &-title {
      text-align: center;
      margin-bottom: 20px;
    }

    &-description {
      font-size: 1.125rem;
      text-align: center;
      margin-bottom: 40px;
    }

    &-list {
      display: flex;
      list-style: none;
      overflow: auto;
      column-gap: 20px;
      scroll-snap-type: x mandatory;
      padding: 24px;
      margin-left: -24px;
      margin-right: -24px;

      &::-webkit-scrollbar {
        display:none;
      }
    }

    &-item {
      width: 100%;
      max-width: 310px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 0 auto;
      padding: 22px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(156, 160, 172, 0.4);
      scroll-snap-align: center;
    }

    &-avatar {
      display: block;
      width: 75px;
      height: 75px;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    &-name {
      flex: 0 0 auto;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 115%;
      margin-bottom: 15px;
    }

    
    &-rate {
      display: flex;
      justify-content: space-between;
      width: 120px;
      margin-bottom: 15px;

      img {
        display: block;
        width: 20px;
        height: 20px;
      }
    }

    &-text {
      flex: 1 0 auto;
      line-height: 25px;
      margin-bottom: 50px;
    }
    
    &-date {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 14px;
      color: $text-muted;

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('../img/icons/google.svg');
        margin-right: 10px;
      }
    }
  }
}

@media(min-width: $brp-lg) {
  .social-proof {

    &__video {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      
      &-content {
        max-width: 500px;
        margin-bottom: 0;
      }

      &-title {
        font-size: 2.875rem;
        color: #fff;
        margin-bottom: 20px;
      }

      &-player {
        max-width: 580px;
      }

      &-play-button {
        width: 54px;
        height: 55px;
      }
    }

    &__reviews {

      &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        row-gap: 20px;
      }
    }
  }
}

@media(min-width: $brp-xl) {
  .social-proof {
    padding-bottom: 150px;
  
    &__video {
      margin-bottom: 150px;

      &-content {
        margin-left: 20px;
      }

      &-player {
        max-width: 100%;
      }
    }
  }
}
